<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.genecash.thermostat"
    android:versionCode="1400539733"
    android:versionName="19-MAY-2014 06:48:53 PM">
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <application
        android:allowBackup="false"
        android:icon="@drawable/thermostat_icon"
        android:label="@string/app_name">
        <activity android:name="org.genecash.wifi_thermostat.Thermostat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>